.chat {
  display: flex;
  flex-direction: column;
  flex: 0.68;
}

.chat__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.chat__header__info {
  flex: 1;
  padding-left: 20px;
}

.chat__header__info > h3 {
    margin-bottom:3px;
    font-weight: 500;
}

.chat__header__info > p {
    color: gray;
}
