.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 15px;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 30px;
}

.message__text {
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  color: black;
  max-width: 300px;
}
.message.own {
  margin-left: auto;
}
.message.own > .message__text {
  background-color: #1877f2;
  color: white;
}

.message__time {
  font-size: 12px;
  margin-top: 10px;
  margin-right: auto;
}
.message.own > .message__time {
  margin-left: auto;
}
